body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: unset;
    overflow: hidden;
    height: 100vh;
    min-width: 390px;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: #c7c7cc53; */
    margin-top: 5px;
    margin-bottom: 5px;
}

.header-bottom-line {
    width: 100%;
    height: 1px;
    background-color: rgb(207, 205, 205);

}

.core {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

table,
tr,
td {
    border-bottom: 1px solid gray;
    border-collapse: collapse;
    text-align: start;
    padding: 3px;
}


tr {
    line-height: 25px;

}

th {
    text-align: start;
    /* color: rgb(76 81 87); */
    font-size: 16px;
}

.date-column {
    text-wrap: nowrap;
}

.delete-button {
    margin-left: 5px;
    border: unset;
    background-color: unset;
}


button:hover {
    cursor: pointer;
}

.logo {
    /* color: black; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: oblique;
    font-size: 27px;
}

.new-registration-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-wrap: nowrap;
    gap: 5px;
    text-decoration: unset;
    margin-right: 10px;
    border: unset;
    font-weight: bold;
    border: unset;
    background-color: var(--bs-gray-700);
    box-shadow: 1px 1px 1px 3px var(--bs-secondary-bg-subtle);
    padding: 6px 12px;
    border-radius: 12px;
}

.search-bar {
    border: unset;
    outline: none;
    background-color: unset;
    flex-grow: 1;
}

.search-div {
    display: flex;
    flex-grow: 1;
}

.middle-part-search {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    border: 1px solid rgb(207, 205, 205);
    border-radius: 10px;
    padding: 6px;
    flex-grow: 1;
    /* max-width: 40%; */
}

.user-info {
    display: flex;
    position: relative;
}

.user-img {
    width: 42px;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 1px var(--bs-light-bg-subtle);
    border: 1px solid var(--bs-dark-border-subtle);
}

.show {
    display: block;
}

.dropdown-div {
    position: absolute;
    background-color: var(--bs-secondary-bg);
    padding: 8px 16px;
    border-radius: 5px;
    text-wrap: nowrap;
    top: 45px;
    right: 0;
    box-shadow: 5px 5px 10px 8px var(--bs-secondary-bg-subtle);
}

.hide {
    display: none;
}