body {
    height: 100vh;
    overflow: auto;
    margin: unset;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    align-items: center;
    padding-top: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.core {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5px;
    flex-grow: 1;
    gap: 30px;
}

.input-divs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.input-divs>div {
    width: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.core input {
    border: 1px solid rgb(210, 207, 207);
    outline: none;
    background-color: unset;
    padding: 5px;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
}

label {
    text-wrap: nowrap;
    font-weight: 500;
}


textarea {
    resize: none;
    border: 1px solid rgb(210, 207, 207);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: unset;
}

textarea:focus {
    outline: none;
}

.save-button {
    border: unset;
    display: flex;
    flex-direction: row;
    gap: 5px;
    border: unset;
    font-weight: bold;
    align-items: center;
    background-color: var(--bs-dark);
    color: white;
    box-shadow: 1px 1px 1px 3px var(--bs-secondary-bg-subtle);
    padding: 10px 20px;
    border-radius: 5px;
}

.bottom-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.highlight {
    outline: 2px solid red !important;
}

h3 {
    margin-bottom: 0;
}

.hide {
    display: none;
}

.warning-text {
    font-size: 12px;
    color: var(--bs-danger);
}

.remove-arrow::-webkit-outer-spin-button,
.remove-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}